@import "./reset.scss" ;
@import "./config.scss";
@import "./elementui.scss";
@import "./svg.scss";

.pull-left { float: left; }
.pull-right { float: right; }

.back-space-30{height: 30px;}

@for $i from 1 through 110 {
    .margin-left-#{$i} {margin-left: (1px * $i);}
    .margin-right-#{$i} {margin-right: (1px * $i);}
}

